.main_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* imported from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: var(--color-mint);
  background-image: radial-gradient(
      var(--color-orange) 1.1500000000000001px,
      transparent 1.1500000000000001px
    ),
    radial-gradient(
      var(--color-orange) 1.1500000000000001px,
      var(--color-mint) 1.1500000000000001px
    );
  background-size: 46px 46px;
  background-position: 0 0, 23px 23px;
}

.name_highlight {
  font-size: larger;
  color: var(--color-highlight-text);
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.image_frame {
  margin-bottom: 1rem;
}

.main_image {
  width: 25vh;
}

.info {
  text-align: center;
  font-family: "NanumBarunpen";
  font-size: 0.8rem;
}

.datetime {
  margin-bottom: 0;
}

.location {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.mapbutton {
  border: none;
  outline: none;
  background: transparent;
  font-family: "KyoboHandwriting2021sjy";
  font-size: 1rem;
  opacity: 0.6;
  vertical-align: top;
}

.icon {
  font-size: 1rem;
}
