.gallery_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* imported from https://www.magicpattern.design/tools/css-backgrounds */
  height: 100vh;
  background-color: #fcf9be;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #fcf9be 4px
    ),
    repeating-linear-gradient(#faab7855, #faab78);
}

.title {
  font-size: 2rem;
  margin-bottom: 4rem;
  letter-spacing: 1rem;
}

.image_frame {
  height: 50vh;
  width: 95vw;
  background-color: transparent;
}
